*.~
*.swp
*.bak
*.1
*.2
*.json
build/
**/compiled
**/doc
**/coverage
#**/sandbox

manual/
*.html
**/scribblings/*.js
**/scribblings/racket.css
**/scribblings/scribble.css
**/scribblings/manual-*.css

!knotty-lib/resources
!knotty/scribblings/leaf-chart

knotty-lib/resources/backups
*.xcf
*.zip
*.CHECKSUM
